PUID=1000
PGID=1000
APP_URL=http://10.0.0.30:6875
APP_KEY=base64:CHANGE_ME_GENERATE_WITH_BOOKSTACK_IMAGE
DB_HOST=bookstack_db
DB_PORT=3306
DB_DATABASE=bookstackapp
DB_USERNAME=bookstack
DB_PASSWORD=CHANGE_ME_BOOKSTACK_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_BOOKSTACK_ROOT_PASSWORD
MYSQL_DATABASE=bookstackapp
MYSQL_USER=bookstack
MYSQL_PASSWORD=CHANGE_ME_BOOKSTACK_DB_PASSWORD
